
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$main_1: rgb(32, 50, 62);
$main_1_080: rgba(32, 50, 62, 0.8);
$main_1_050: rgba(32, 50, 62, 0.5);
$main_2: rgba(32, 50, 62, 0.1);
$main_1_text: #f4fbff;
$main_2_text: #484848;
$main_1_text_075: rgba(244, 251, 255, 0.75);
$main_1_text_050: rgba(244, 251, 255, 0.5);
$accent_1: #ee4552;
$accent_2: #4c5e6e;

$c_easeing_1: cubic-bezier(0.4, 0, 0.2, 1);
