// Variables
@import 'variables';
@import 'mixins';

section {
	&#slider {
		.owl-carousel {
			.item {
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				padding-top: 41.4%;
			}

			.owl-nav {
				margin-top: calc(-24%);
			    overflow: hidden;
			    height: 100px;
			    position: relative;

			    button.owl-next, button.owl-prev {
			    	position: absolute;
				    top: 0;
				    opacity: 0;
				    transition: all .5s $c_easeing_1;
				    padding-top: .3rem !important;
				    padding-bottom: .3rem !important;
				    background-color: #fff;
				    outline: none;
				    @include b-shadow-1();

				    i {
				    	font-size: 22pt;
    					color: $accent_2;
				    }
			    }

			    button.owl-prev {
			    	left: 2rem;
    				transform: translateX(-20px);
    				padding-left: 1rem !important;
    				padding-right: 1rem !important;
    				border-top-left-radius: .5rem;
    				border-bottom-left-radius: .5rem;
			    }

			    button.owl-next {
			    	right: 2rem;
    				transform: translateX(20px);
    				padding-right: 1rem !important;
    				padding-left: 1rem !important;
    				border-top-right-radius: .5rem;
    				border-bottom-right-radius: .5rem;
			    }
			    
			}

			&:hover {
		    	button.owl-next, button.owl-prev {
		    		opacity: 1 !important;
					transform: translateX(0) !important;
		    	}
		    }
		}
	}

	&#s-2 {
		margin-top: calc(18.5%);
	}

	&#s-3 {
		background-image: url(../images/img-18.jpg);
		background-size: cover;
		background-position: center;
		 background-attachment: fixed;
		background-repeat: no-repeat;
		min-height: 30rem;

		padding: 11rem 0 5rem;

		.title {
			text-align: center;
			font-size: 28pt;
			font-weight: 900;
			text-transform: uppercase;
			margin: 2rem 0;
		}

		.subtitle {
			text-align: center;
			font-size: 24pt;
			font-weight: 100;
		}
	}

}