section#slider .owl-carousel .item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 41.4%;
}
section#slider .owl-carousel .owl-nav {
  margin-top: calc(-24%);
  overflow: hidden;
  height: 100px;
  position: relative;
}
section#slider .owl-carousel .owl-nav button.owl-next, section#slider .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  background-color: #fff;
  outline: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
}
section#slider .owl-carousel .owl-nav button.owl-next i, section#slider .owl-carousel .owl-nav button.owl-prev i {
  font-size: 22pt;
  color: #4c5e6e;
}
section#slider .owl-carousel .owl-nav button.owl-prev {
  left: 2rem;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
section#slider .owl-carousel .owl-nav button.owl-next {
  right: 2rem;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
section#slider .owl-carousel:hover button.owl-next, section#slider .owl-carousel:hover button.owl-prev {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
section#s-2 {
  margin-top: calc(18.5%);
}
section#s-3 {
  background-image: url(../images/img-18.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 30rem;
  padding: 11rem 0 5rem;
}
section#s-3 .title {
  text-align: center;
  font-size: 28pt;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2rem 0;
}
section#s-3 .subtitle {
  text-align: center;
  font-size: 24pt;
  font-weight: 100;
}