section#slider .owl-carousel .item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 41.4%;
}
section#slider .owl-carousel .owl-nav {
  margin-top: calc(-24%);
  overflow: hidden;
  height: 100px;
  position: relative;
}
section#slider .owl-carousel .owl-nav button.owl-next, section#slider .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  background-color: #fff;
  outline: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
}
section#slider .owl-carousel .owl-nav button.owl-next i, section#slider .owl-carousel .owl-nav button.owl-prev i {
  font-size: 22pt;
  color: #4c5e6e;
}
section#slider .owl-carousel .owl-nav button.owl-prev {
  left: 2rem;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
section#slider .owl-carousel .owl-nav button.owl-next {
  right: 2rem;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
section#slider .owl-carousel:hover button.owl-next, section#slider .owl-carousel:hover button.owl-prev {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
section#s-2 {
  margin-top: calc(18.5%);
}
section#s-3 {
  background-image: url(../images/img-18.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 30rem;
  padding: 11rem 0 5rem;
}
section#s-3 .title {
  text-align: center;
  font-size: 28pt;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2rem 0;
}
section#s-3 .subtitle {
  text-align: center;
  font-size: 24pt;
  font-weight: 100;
}
section#s-4 h2 {
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30pt;
  text-transform: uppercase;
  font-weight: 700;
  color: #484848;
  padding: 5rem 0;
}
section#s-4 h2 .icon-wrapper {
  display: flex;
}
section#s-4 h2 .icon-wrapper .c-icon {
  width: 6rem;
  height: 5rem;
}
@media (max-width: 991px) {
  section#s-4 h2 {
    font-size: 180%;
    padding: 1rem 0;
  }
}
section#s-4 .wrapper {
  background-color: #ee4552;
}
section#s-4 .wrapper .wtg-l .c-card {
  padding-bottom: 50%;
  margin: 2.25rem 0 1.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}
section#s-4 .wrapper .wtg-l .c-card .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
section#s-4 .wrapper .wtg-l .c-card:hover .img, section#s-4 .wrapper .wtg-l .c-card:focus .img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
section#s-4 .wrapper .wtg-l .c-card:hover .content, section#s-4 .wrapper .wtg-l .c-card:focus .content {
  padding-bottom: 1rem;
}
section#s-4 .wrapper .wtg-l .c-card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #20323e;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
section#s-4 .wrapper .wtg-l .c-card .content .title {
  text-align: center;
  padding: 0.75rem;
  font-size: 14pt;
  text-transform: uppercase;
  font-weight: 700;
}
section#s-4 .wrapper .wtg-l .desc-1 {
  color: #fff;
  font-size: 10pt;
  font-weight: 100;
}