body {
  background-color: #f8f9fa;
}

header li.nav-item {
  position: relative;
}
header li.nav-item .dropdown-toggle::after {
  margin-left: 0;
  border-top: none;
}
header li.nav-item .dropdown-submenu {
  position: relative;
}
header li.nav-item .dropdown-submenu > a.dropdown-toggle {
  position: relative;
}
header li.nav-item .dropdown-submenu > a.dropdown-toggle::after {
  content: "";
  position: absolute;
  right: -0.25rem;
  top: 1rem;
  width: 8px;
  height: 8px;
  /* background-color: red; */
  border: none;
  border-top: 2px solid rgba(244, 251, 255, 0.5);
  border-right: 2px solid rgba(244, 251, 255, 0.5);
  -webkit-transform: rotate(45deg) translateX(-3px) translateY(3px);
          transform: rotate(45deg) translateX(-3px) translateY(3px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
header li.nav-item .dropdown-submenu:hover > a.dropdown-toggle::after {
  -webkit-transform: rotate(45deg) translateX(0) translateY(0);
          transform: rotate(45deg) translateX(0) translateY(0);
  border-color: #f4fbff;
}
header li.nav-item .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
}
header li.nav-item.w-menu::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #ee4553 transparent transparent transparent;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  z-index: 999999;
}
header li.nav-item.w-menu:hover::after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
header li.nav-item .dropdown-menu {
  display: block;
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: rgba(32, 50, 62, 0.9);
  padding: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
  padding-top: 1.5rem;
  min-height: 18rem;
  z-index: 0;
}
header li.nav-item .dropdown-menu .dropdown-item {
  position: static;
  padding: 0rem 1rem;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1), margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
header li.nav-item .dropdown-menu .dropdown-item a {
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  display: flex;
  border-bottom: 1px solid #6a7a86;
  color: rgba(244, 251, 255, 0.75);
  font-weight: 200;
  font-size: 12pt;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
header li.nav-item .dropdown-menu .dropdown-item .dropdown-menu {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
header li.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #6a7a86;
  box-shadow: 0px -1px 0px 0px #6a7a86;
}
header li.nav-item .dropdown-menu .dropdown-item:hover > a {
  color: #f4fbff;
}
header li.nav-item .dropdown-menu .dropdown-item:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
header li.nav-item > .dropdown-menu {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
header li.nav-item > .dropdown-menu::before {
  content: "";
  position: absolute;
  width: 7rem;
  display: flex;
  left: -7rem;
  top: 1.5rem;
  height: calc(100% - 1.5rem);
  background-image: url(../images/img-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header li.nav-item:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (max-width: 991px) {
  header li {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  header li.dropdown-item a {
    border-bottom: 2px solid #4c5e6e !important;
  }
  header li.w-menu, header li.dropdown-item {
    padding: 0 !important;
    background-color: transparent !important;
  }
  header li.w-menu::after, header li.dropdown-item::after {
    display: none;
  }
  header li.w-menu .dropdown-menu, header li.dropdown-item .dropdown-menu {
    min-height: 0;
    max-height: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    padding: 0 !important;
  }
  header li.w-menu .dropdown-menu li > a, header li.dropdown-item .dropdown-menu li > a {
    padding: 1rem 1.5vw !important;
  }
  header li.w-menu .dropdown-submenu > a.dropdown-toggle::after, header li.dropdown-item .dropdown-submenu > a.dropdown-toggle::after {
    right: 1rem;
    top: 1.25rem;
    -webkit-transform: rotate(135deg) !important;
            transform: rotate(135deg) !important;
  }
  header li.w-menu:hover .dropdown-menu, header li.w-menu:focus .dropdown-menu, header li.dropdown-item:hover .dropdown-menu, header li.dropdown-item:focus .dropdown-menu {
    visibility: hidden !important;
    opacity: 0 !important;
    -webkit-transform: translateY(-10px) !important;
            transform: translateY(-10px) !important;
  }
  header li.w-menu > .dropdown-menu::before, header li.dropdown-item > .dropdown-menu::before {
    display: none;
  }
  header li.w-menu.active, header li.dropdown-item.active {
    box-shadow: -5px 0px 0px 0px #ee4553 !important;
    margin: 0.5rem 0 !important;
  }
  header li.w-menu.active > a, header li.dropdown-item.active > a {
    color: #ee4551 !important;
    border-color: #ee4551 !important;
    font-weight: 700 !important;
  }
  header li.w-menu.active > .dropdown-menu, header li.dropdown-item.active > .dropdown-menu {
    max-height: 1000px;
    visibility: visible !important;
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    padding: 0 0 0 0.5rem !important;
  }
}
@media (max-width: 991px) {
  header {
    position: fixed !important;
    top: 0;
    z-index: 9999;
    width: 100vw;
  }
}

.container-c {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container-c {
    width: 95%;
  }
}

.w-80 {
  width: 80% !important;
}

.c-color-1 {
  color: #ee4552;
}

.c-color-2 {
  color: #f4fbff !important;
}

.c-bgc-main {
  background-color: #f8f9fa !important;
}

.c-bgc-1 {
  background-color: rgba(32, 50, 62, 0.1) !important;
}

.c-bgc-2 {
  background-color: #20323e !important;
}
.c-bgc-2::before, .c-bgc-2::after {
  border-color: #20323e !important;
}

.no-pseudo::before, .no-pseudo::after {
  content: none !important;
}

.c-hr-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c-hr-1::after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(32, 50, 62, 0.2);
}

.no-bgi, .no-bgi::before, .no-bgi::after {
  background-image: none !important;
}

.hover-c-color-1:hover, .hover-c-color-1:focus {
  color: black !important;
}
.hover-c-color-1::before {
  background: #fff !important;
}

.header-logo-wrapper img {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  max-width: 200px;
}
.header-logo-wrapper img:hover, .header-logo-wrapper img:focus {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.c-style-2 {
  color: rgba(238, 69, 82, 0.5);
  font-size: 22pt;
  font-weight: 700;
}
@media (max-width: 991px) {
  .c-style-2 {
    font-size: 16pt;
  }
}

.c-font-size-lg {
  font-size: 41pt;
}
@media (max-width: 991px) {
  .c-font-size-lg {
    font-size: 25pt;
    margin-left: 0.25rem !important;
  }
}

.c-button {
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  border: 1px solid;
  padding: 0.5rem 3.5rem;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  font-weight: 500;
  position: relative;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.c-button.c-color-1 {
  background-color: #ee4552;
  color: #fff;
  border-color: #ee4552;
}
.c-button.flat {
  background-color: transparent;
  color: black;
  border-color: #ee4552;
}

nav.navbar {
  padding: 1.5rem 2.5rem;
  background-color: #20323e;
  z-index: 9999;
  width: 100%;
  position: relative;
  transition: padding 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
body.fixed-header nav.navbar {
  position: fixed;
  top: 0;
  padding: 0.75rem 2.5rem;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12) !important;
}
@media (max-width: 991px) {
  nav.navbar {
    position: relative !important;
    padding: 0.75rem 1rem !important;
    top: auto;
    width: 100%;
  }
  nav.navbar #main-navigation {
    overflow: auto;
    max-height: calc(100vh - 70px);
  }
}
nav.navbar .navbar-toggler {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0.5rem;
}
nav.navbar .header-logo-wrapper {
  position: absolute;
  left: 1rem;
  top: 0.4rem;
  width: 10rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
body.fixed-header nav.navbar .header-logo-wrapper {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (max-width: 991px) {
  nav.navbar .header-logo-wrapper {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    left: 0.5rem;
  }
}
nav.navbar .navbar-nav .nav-item .nav-link {
  color: #f4fbff !important;
  padding: 1rem 1.5vw !important;
  display: flex !important;
  font-size: calc(5pt + .5vw);
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: inline-block;
  padding: 0.5em 2em;
  cursor: pointer;
  overflow: hidden;
}
body.fixed-header nav.navbar .navbar-nav .nav-item .nav-link {
  padding: 0.62rem 1.5vw !important;
}
nav.navbar .navbar-nav .nav-item .nav-link:before, nav.navbar .navbar-nav .nav-item .nav-link:after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #4c5e6e;
}
nav.navbar .navbar-nav .nav-item .nav-link:before {
  top: 0;
}
@media (max-width: 991px) {
  nav.navbar .navbar-nav .nav-item .nav-link:before {
    display: none;
  }
}
nav.navbar .navbar-nav .nav-item .nav-link:after {
  bottom: 0;
}
nav.navbar .navbar-nav .nav-item .nav-link > *:before {
  left: 0;
}
@media (max-width: 991px) {
  nav.navbar .navbar-nav .nav-item .nav-link > *:before {
    display: none;
  }
}
nav.navbar .navbar-nav .nav-item .nav-link > *:after {
  right: 0;
}
nav.navbar .navbar-nav .nav-item .nav-link > * > *:before, nav.navbar .navbar-nav .nav-item .nav-link > * > *:after {
  content: "";
  position: absolute;
  left: 0;
  z-index: 9;
  height: 2px;
  width: 100%;
  background-color: #ee4552;
}
nav.navbar .navbar-nav .nav-item .nav-link > * > *:before {
  top: 0;
  -webkit-transform: translate3d(-105%, 0, 0);
          transform: translate3d(-105%, 0, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 991px) {
  nav.navbar .navbar-nav .nav-item .nav-link > * > *:before {
    display: none;
  }
}
nav.navbar .navbar-nav .nav-item .nav-link > * > *:after {
  bottom: 0;
  -webkit-transform: translate3d(105%, 0, 0);
          transform: translate3d(105%, 0, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
nav.navbar .navbar-nav .nav-item .nav-link > * > * > *:before, nav.navbar .navbar-nav .nav-item .nav-link > * > * > *:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 9;
  height: 100%;
  width: 2px;
  background-color: #ee4552;
}
nav.navbar .navbar-nav .nav-item .nav-link > * > * > *:before {
  left: 0;
  -webkit-transform: translate3d(0, 105%, 0);
          transform: translate3d(0, 105%, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
nav.navbar .navbar-nav .nav-item .nav-link > * > * > *:after {
  right: 0;
  -webkit-transform: translate3d(0, -105%, 0);
          transform: translate3d(0, -105%, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
nav.navbar .navbar-nav .nav-item .nav-link:first-child {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
nav.navbar .navbar-nav .nav-item .nav-link:last-child {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
@media (max-width: 991px) {
  nav.navbar .navbar-nav .nav-item .nav-link {
    font-size: 12pt;
  }
}
nav.navbar .navbar-nav .nav-item:hover .nav-link, nav.navbar .navbar-nav .nav-item:focus .nav-link, nav.navbar .navbar-nav .nav-item.active .nav-link {
  color: #ee4552 !important;
}
nav.navbar .navbar-nav .nav-item:hover .nav-link > * > *:before, nav.navbar .navbar-nav .nav-item:hover .nav-link > * > *:after, nav.navbar .navbar-nav .nav-item:focus .nav-link > * > *:before, nav.navbar .navbar-nav .nav-item:focus .nav-link > * > *:after, nav.navbar .navbar-nav .nav-item.active .nav-link > * > *:before, nav.navbar .navbar-nav .nav-item.active .nav-link > * > *:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
nav.navbar .navbar-nav .nav-item:hover .nav-link > * > * > *:before, nav.navbar .navbar-nav .nav-item:hover .nav-link > * > * > *:after, nav.navbar .navbar-nav .nav-item:focus .nav-link > * > * > *:before, nav.navbar .navbar-nav .nav-item:focus .nav-link > * > * > *:after, nav.navbar .navbar-nav .nav-item.active .nav-link > * > * > *:before, nav.navbar .navbar-nav .nav-item.active .nav-link > * > * > *:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

main {
  position: relative;
}
body.fixed-header main {
  padding-top: 5rem;
}
@media (max-width: 991px) {
  main {
    padding-top: 4.4rem !important;
  }
}
main .anchored {
  position: relative;
}
main .anchored .b-style {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
main .anchored .b-style.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
main .anchored .b-style.b-0 {
  width: 100%;
  height: 60%;
  max-height: 100rem;
  min-height: 15rem;
  background-color: #ee4552;
}
main .anchored .b-style.b-1 {
  width: 100%;
  height: 60%;
  max-height: 50rem;
  min-height: 15rem;
  background-color: rgba(32, 50, 62, 0.1);
}
main .c-wrapper-1, main .c-wrapper-2 {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
main .c-wrapper-1 {
  z-index: 9;
}
main .c-wrapper-1 .inner-block {
  padding: 2rem;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  margin-top: -5.4rem;
  margin-bottom: -5.4rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1) !important;
  overflow: hidden;
}
main .c-wrapper-1::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 60%;
  max-height: 25rem;
  min-height: 10rem;
  background-color: #ee4552;
}
main .c-wrapper-1.b-1::before {
  height: 72% !important;
  max-height: 25rem;
  min-height: 10rem;
  background-color: rgba(32, 50, 62, 0.1);
}
main .c-wrapper-1.anchored::before {
  display: none;
}
main .c-banner-1 {
  padding-bottom: 56.4%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem 0;
}
main .c-banner-1 .img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
main .c-banner-1 .content {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
main .c-banner-1 .content .icon-wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}
main .c-banner-1 .content .icon-wrapper .c-icon {
  width: 7rem;
  height: 4rem;
}
main .c-banner-1 .content .title {
  font-size: calc(14pt + .75vw);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
main .c-banner-1:hover .img, main .c-banner-1:focus .img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
main .c-banner-1:hover .content, main .c-banner-1:focus .content {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
main .c-wrapper-2 .inner-block {
  padding: 6.5rem 0 3rem;
  width: 100%;
}
main .c-wrapper-2 .inner-block .c-banner-2 {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #ee4552;
}
main .c-wrapper-2 .inner-block .c-banner-2 .icon-wrapper {
  text-align: center;
}
main .c-wrapper-2 .inner-block .c-banner-2 .icon-wrapper .c-icon {
  width: 9rem;
  padding-bottom: 10rem;
}
main .c-wrapper-2 .inner-block .c-banner-2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #565656;
  mix-blend-mode: color-dodge;
}
main #top .page-banner-container {
  padding-bottom: 38%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  position: relative;
}
@media (max-width: 991px) {
  main #top .page-banner-container {
    padding-bottom: 35rem;
  }
}
main #top .page-banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,ffffff+100 */
  background: linear-gradient(to right, rgba(52, 58, 64, 0.7) 0%, transparent 100%);
}
main #top .page-banner-container .banner-wrapper {
  align-items: center !important;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main #top .page-banner-container .banner-wrapper .banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}
@media (max-width: 991px) {
  main #top .page-banner-container .banner-wrapper .banner {
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 7rem;
  }
}
main #top .page-banner-container .banner-wrapper .banner::before {
  content: "";
  display: flex;
  width: 278px;
  padding-bottom: 278px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/top_1.png);
}
@media (max-width: 991px) {
  main #top .page-banner-container .banner-wrapper .banner::before {
    margin: 0 auto;
  }
}
main #top .page-banner-container .banner-wrapper .banner .banner-image {
  position: absolute;
  background-position: calc(4.5rem) calc(50% + .75rem);
  background-size: 8.8rem;
  background-repeat: no-repeat;
  left: 0;
  width: 278px;
  height: 278px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}
@media (max-width: 991px) {
  main #top .page-banner-container .banner-wrapper .banner .banner-image {
    top: 0;
    width: 100%;
    background-position: center calc(50% + 1rem);
  }
}
main #top .page-banner-container .banner-wrapper .banner .banner-name {
  left: 0;
  display: flex;
  padding: 0.5rem;
  min-height: 4.5rem;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 25pt;
  text-transform: capitalize;
  background-color: #fff;
  margin-left: -5rem;
  position: relative;
  z-index: 8;
}
@media (max-width: 991px) {
  main #top .page-banner-container .banner-wrapper .banner .banner-name {
    max-width: 80%;
    margin-left: 5rem !important;
    margin-right: 5rem !important;
    font-size: 20pt;
    padding: 0.5rem !important;
  }
}
main #top .page-banner-container .banner-wrapper .banner .banner-name::before {
  content: "";
  position: absolute;
  right: -4.495rem;
  border-left: 0 solid transparent !important;
  border-right: 4.5rem solid transparent !important;
  border-top: 4.5rem solid #fff;
  top: 0;
}
main #top .page-banner-container .banner-wrapper .banner .banner-name::after {
  content: "";
  position: absolute;
  left: -4.495rem;
  border-right: 0 solid transparent !important;
  border-left: 4.5rem solid transparent !important;
  border-bottom: 4.5rem solid #fff;
  bottom: 0;
}
main #top .page-banner-container .banner-wrapper .banner.bn-2::before {
  display: none;
}
main #top .page-banner-container .banner-wrapper .banner.bn-2 .banner-image {
  width: 11rem;
  height: 11rem;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  main #top .page-banner-container .banner-wrapper .banner.bn-2 .banner-image {
    position: relative;
    display: block;
    margin: 0 auto;
  }
}
main #top .page-banner-container .banner-wrapper .banner.bn-2 .banner-name {
  margin-left: 10rem;
  background-color: transparent;
  color: #f4fbff;
  text-align: left;
  justify-content: left;
  padding: 1rem 2rem;
  font-size: 39pt;
  font-weight: 700;
  line-height: 4rem;
  min-width: 25rem;
}
@media (max-width: 991px) {
  main #top .page-banner-container .banner-wrapper .banner.bn-2 .banner-name {
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
main #top .page-banner-container .banner-wrapper .banner.bn-2 .banner-name::after {
  display: none;
}
main #page-content {
  position: relative;
}
main #page-content .c-wrapper-1:last-child .inner-block {
  margin-bottom: 5rem;
}
main #page-content .inner-img {
  padding-bottom: 30%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 25rem;
}
main .c-list-1 .c-list-item .c-list-subtitle {
  padding: 0.5rem 1.5rem;
  background-color: #ee4551;
  margin: 1rem 0;
  position: relative;
  color: #fff;
}
main .c-list-1 .c-list-item .c-list-subtitle::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2.56rem;
  border-left: 0 solid transparent;
  border-right: 2.56rem solid transparent;
  border-top: 2.56rem solid #ee4552;
}
main .c-list-1 .c-list-item .image {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20rem;
}
main .c-list-1 .c-list-item .header {
  background-color: #20323e;
  padding: 0;
  padding-right: 3.4rem;
}
main .c-list-1 .c-list-item .header span {
  background-color: #ee4552;
  display: inline-flex;
  padding: 0.5rem 1rem;
  font-size: 18pt;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  position: relative;
}
main .c-list-1 .c-list-item .header span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3.4rem;
  border-left: 0 solid transparent;
  border-right: 3.4rem solid transparent;
  border-top: 3.4rem solid #ee4552;
}
main .c-list-1 .c-list-item .content {
  padding: 3rem 0;
}
main .c-list-1 .c-list-item .content p {
  font-size: 13pt;
}
main .c-list-1 .c-list-item.divided .header {
  padding-bottom: 0;
}
main .c-list-1 .c-list-item.divided .content {
  padding-top: 0;
}
main .c-v-list {
  text-align: left;
  margin: 2rem 0;
}
main .c-v-list .c-list-pre {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
main .c-v-list .c-list-item {
  border-left: 2px solid #ee4552;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  padding: 2rem 0 2rem calc(3rem + 1vw);
  font-size: 12pt;
  font-weight: 700;
  margin: 0;
  color: #000;
  text-align: left;
}
main .c-v-list .c-list-item::after {
  content: "";
  background-image: url(../images/tick_1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 54px;
  height: 47px;
  position: absolute;
  left: -19px;
  z-index: 999;
  margin: 0 auto;
  color: #ee4552;
}
main .c-anchor {
  position: relative;
}
main section.s-h h2 {
  display: flex;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30pt;
  text-transform: uppercase;
  font-weight: 700;
  color: #484848;
  padding: 5rem 0;
}
main section.s-h h2 .icon-wrapper {
  display: flex;
}
main section.s-h h2 .icon-wrapper .c-icon {
  width: 6rem;
  height: 5rem;
}
@media (max-width: 991px) {
  main section.s-h h2 {
    font-size: 180%;
    padding: 1rem 0;
  }
}
main section#s-4 .wrapper .wtg-l .c-card {
  padding-bottom: 50%;
  margin: 2.25rem 0 1.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}
main section#s-4 .wrapper .wtg-l .c-card .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main section#s-4 .wrapper .wtg-l .c-card:hover .img, main section#s-4 .wrapper .wtg-l .c-card:focus .img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
main section#s-4 .wrapper .wtg-l .c-card:hover .content, main section#s-4 .wrapper .wtg-l .c-card:focus .content {
  padding-bottom: 1rem;
}
main section#s-4 .wrapper .wtg-l .c-card .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #20323e;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
main section#s-4 .wrapper .wtg-l .c-card .content .title {
  text-align: center;
  padding: 0.75rem;
  font-size: 14pt;
  text-transform: uppercase;
  font-weight: 700;
}
main section.c-gallery-1 .inner-block {
  padding: 2rem;
}
main section.c-gallery-1 .inner-block .outer-wrapper {
  position: relative;
  text-align: center;
  display: block;
  margin: 1rem 0 3rem;
}
main section.c-gallery-1 .inner-block .outer-wrapper .icon {
  width: 7rem;
  height: 7rem;
  border-radius: 7rem;
  border: 0.4rem solid #fff;
  background-color: #8ca3af;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 39%;
  margin-bottom: -4.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  z-index: 9;
}
main section.c-gallery-1 .inner-block .outer-wrapper .item {
  padding-bottom: 56.4%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin: 1rem 0;
}
main section.c-gallery-1 .inner-block .outer-wrapper .item .img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(0.3);
          filter: grayscale(0.3);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
main section.c-gallery-1 .inner-block .outer-wrapper .item .img::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(52, 58, 64, 0.7) 0%, rgba(52, 58, 64, 0.2) 45%, transparent 100%);
}
main section.c-gallery-1 .inner-block .outer-wrapper .item .content {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
main section.c-gallery-1 .inner-block .outer-wrapper .item .content .icon-wrapper {
  text-align: center;
  margin-bottom: 0.5rem;
}
main section.c-gallery-1 .inner-block .outer-wrapper .item .content .icon-wrapper .c-icon {
  width: 7rem;
  height: 4rem;
}
main section.c-gallery-1 .inner-block .outer-wrapper .item .content .title {
  font-size: 15pt;
  font-weight: 700;
  color: #f4fbff;
  text-transform: uppercase;
  text-align: center;
}
main section.c-gallery-1 .inner-block .outer-wrapper .item:hover .img, main section.c-gallery-1 .inner-block .outer-wrapper .item:focus .img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
main section.c-gallery-1 .inner-block .outer-wrapper .item:hover .content, main section.c-gallery-1 .inner-block .outer-wrapper .item:focus .content {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
main .c-ul-1 {
  margin: 1rem 0;
  list-style: none;
  counter-reset: li;
}
main .c-ul-1 li {
  margin-bottom: 0.5rem;
  position: relative;
  counter-increment: li;
}
main .c-ul-1 li::before {
  content: "";
  color: #ee4552;
  display: inline-block;
  width: 1.5em;
  height: 2px;
  display: flex;
  top: 0.6rem;
  /* border-radius: 1rem; */
  background-color: #ee4551;
  /* font-size: 20pt; */
  font-weight: 800;
  margin-left: -2.5em;
  /* margin-bottom: -4rem; */
  position: absolute;
}
main .desc-1 {
  color: #000;
  font-size: 10pt;
  font-weight: 100;
}
main.homepage section#s-4 .wrapper {
  background-color: #ee4552;
}
main.homepage .desc-1 {
  color: #fff;
}

footer {
  background-color: #20323e;
  position: relative;
  padding: 0 4rem;
}
@media (max-width: 991px) {
  footer {
    padding: 0 0.5rem;
  }
}
footer .footer-nav {
  padding: 6rem 0 2.5rem;
  margin-bottom: 2rem;
  position: relative;
}
@media (max-width: 991px) {
  footer .footer-nav {
    padding: 3rem 0 2.5rem;
  }
}
footer .footer-nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  left: 1rem;
  width: calc(75% + 75px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
@media (max-width: 991px) {
  footer .footer-nav:after {
    width: auto;
    right: 1rem;
  }
}
footer .footer-nav .item {
  padding: 0.25rem 0;
  text-transform: uppercase;
  font-size: calc(5pt + .5vw);
  color: #f4fbff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
footer .footer-nav .item::before {
  height: 2px;
  background: #ee4552;
}
footer .footer-nav .item:hover, footer .footer-nav .item:focus {
  color: #ee4552;
}
@media (max-width: 991px) {
  footer .footer-nav .item {
    font-size: 10pt;
  }
}
footer .footer-contact {
  width: 63vw;
}
@media (max-width: 991px) {
  footer .footer-contact {
    width: 100%;
  }
}
footer .footer-contact .item {
  display: flex;
  vertical-align: middle;
  align-items: center;
  color: #f4fbff;
}
footer .footer-payment {
  width: 63vw;
  margin-bottom: 1rem !important;
}
@media (max-width: 991px) {
  footer .footer-payment {
    width: 100%;
  }
}
footer .footer-payment .footer-logo-wrapper img {
  max-width: 200px !important;
  min-width: 100px;
  flex: 0 0 200px;
  width: 9vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
footer .footer-payment .footer-logo-wrapper img:hover, footer .footer-payment .footer-logo-wrapper img:focus {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}
footer .footer-payment .item {
  display: inline-block;
}
footer .footer-payment .item img {
  width: 6vw;
  max-width: 90px;
  min-width: 50px;
}
footer .footer-cc p {
  color: #f4fbff;
  opacity: 0.5;
  font-weight: 100;
  font-size: 11pt;
  line-height: 20pt;
}
footer .footer-registration {
  background-color: rgba(255, 255, 255, 0.07);
  min-height: 39rem;
  padding: 3.25rem 2rem 5rem;
}
footer .footer-registration h5 {
  color: #f4fbff;
  font-weight: 700;
  font-size: 16pt;
  text-align: center;
  margin-bottom: 2.5rem;
}
footer .footer-registration input, footer .footer-registration input:focus, footer .footer-registration select {
  background-color: transparent;
  border-radius: 0;
  border: 1px solid rgba(244, 251, 255, 0.5);
  padding: 0.5rem 1rem;
  color: #f4fbff;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none;
  outline: none;
}
footer .footer-registration input::-webkit-input-placeholder, footer .footer-registration input:focus::-webkit-input-placeholder, footer .footer-registration select::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f4fbff;
  opacity: 1;
  /* Firefox */
}
footer .footer-registration input:-ms-input-placeholder, footer .footer-registration input:focus:-ms-input-placeholder, footer .footer-registration select:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f4fbff;
  opacity: 1;
  /* Firefox */
}
footer .footer-registration input::-ms-input-placeholder, footer .footer-registration input:focus::-ms-input-placeholder, footer .footer-registration select::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f4fbff;
  opacity: 1;
  /* Firefox */
}
footer .footer-registration input::placeholder, footer .footer-registration input:focus::placeholder, footer .footer-registration select::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f4fbff;
  opacity: 1;
  /* Firefox */
}
footer .footer-registration input:-ms-input-placeholder, footer .footer-registration input:focus:-ms-input-placeholder, footer .footer-registration select:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f4fbff;
}
footer .footer-registration input::-ms-input-placeholder, footer .footer-registration input:focus::-ms-input-placeholder, footer .footer-registration select::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f4fbff;
}
footer .footer-registration input:focus, footer .footer-registration input:focus:focus, footer .footer-registration select:focus {
  border-color: #f4fbff;
}

.inline-form input, .inline-form input:focus, .inline-form select, .inline-form textarea, .login-form input, .login-form input:focus, .login-form select, .login-form textarea {
  background-color: #fff;
  border-radius: 0 !important;
  border: 1px solid rgba(32, 50, 62, 0.5) !important;
  padding: 0.5rem 1rem !important;
  color: #f4fbff;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: none !important;
  outline: none !important;
}
.inline-form input::-webkit-input-placeholder, .inline-form input:focus::-webkit-input-placeholder, .inline-form select::-webkit-input-placeholder, .inline-form textarea::-webkit-input-placeholder, .login-form input::-webkit-input-placeholder, .login-form input:focus::-webkit-input-placeholder, .login-form select::-webkit-input-placeholder, .login-form textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(32, 50, 62, 0.8);
  opacity: 1;
  /* Firefox */
}
.inline-form input:-ms-input-placeholder, .inline-form input:focus:-ms-input-placeholder, .inline-form select:-ms-input-placeholder, .inline-form textarea:-ms-input-placeholder, .login-form input:-ms-input-placeholder, .login-form input:focus:-ms-input-placeholder, .login-form select:-ms-input-placeholder, .login-form textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(32, 50, 62, 0.8);
  opacity: 1;
  /* Firefox */
}
.inline-form input::-ms-input-placeholder, .inline-form input:focus::-ms-input-placeholder, .inline-form select::-ms-input-placeholder, .inline-form textarea::-ms-input-placeholder, .login-form input::-ms-input-placeholder, .login-form input:focus::-ms-input-placeholder, .login-form select::-ms-input-placeholder, .login-form textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(32, 50, 62, 0.8);
  opacity: 1;
  /* Firefox */
}
.inline-form input::placeholder, .inline-form input:focus::placeholder, .inline-form select::placeholder, .inline-form textarea::placeholder, .login-form input::placeholder, .login-form input:focus::placeholder, .login-form select::placeholder, .login-form textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(32, 50, 62, 0.8);
  opacity: 1;
  /* Firefox */
}
.inline-form input:-ms-input-placeholder, .inline-form input:focus:-ms-input-placeholder, .inline-form select:-ms-input-placeholder, .inline-form textarea:-ms-input-placeholder, .login-form input:-ms-input-placeholder, .login-form input:focus:-ms-input-placeholder, .login-form select:-ms-input-placeholder, .login-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(32, 50, 62, 0.8);
}
.inline-form input::-ms-input-placeholder, .inline-form input:focus::-ms-input-placeholder, .inline-form select::-ms-input-placeholder, .inline-form textarea::-ms-input-placeholder, .login-form input::-ms-input-placeholder, .login-form input:focus::-ms-input-placeholder, .login-form select::-ms-input-placeholder, .login-form textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(32, 50, 62, 0.8);
}
.inline-form input:focus, .inline-form input:focus:focus, .inline-form select:focus, .inline-form textarea:focus, .login-form input:focus, .login-form input:focus:focus, .login-form select:focus, .login-form textarea:focus {
  border-color: rgba(32, 50, 62, 0.8) !important;
}

.c-type-1 {
  color: #ee4552;
  font-weight: bold;
}

.c-title-1 {
  padding: 0.5rem 1.5rem 0.5rem 3rem;
  margin: 3rem 0;
  position: relative;
}
.c-title-1::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  bottom: 0;
  left: 0;
  border-left: 1rem solid #ee4551;
  border-right: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  height: 0;
}

ol.c-ol-1 {
  list-style: none;
  counter-reset: li;
}
ol.c-ol-1 li {
  counter-increment: li;
  margin-bottom: 3rem;
  position: relative;
}
ol.c-ol-1 li::before {
  content: counter(li) ".";
  top: -0.6rem;
  color: #ee4552;
  display: inline-block;
  width: 1em;
  font-size: 20pt;
  font-weight: 800;
  margin-left: -1.5em;
  /* margin-bottom: -4rem; */
  position: absolute;
}

.iziModal-overlay {
  z-index: 999998 !important;
}

.iziModal {
  z-index: 999999 !important;
  border-radius: 0 !important;
}
@media (max-width: 991px) {
  .iziModal {
    max-width: 95% !important;
  }
}
.iziModal .icon-close {
  position: absolute;
  background-color: transparent;
  border: none !important;
  box-shadow: none !important;
  right: 1rem;
  top: 1rem;
}
.iziModal .icon-close i {
  font-size: 14pt;
  color: rgba(32, 50, 62, 0.8);
}

.c-icon {
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  padding-bottom: 3rem;
  display: inline-flex;
}
.c-icon.mail {
  background-image: url(../images/mail_icon_contact.svg);
}
.c-icon.mail-dark {
  background-image: url(../images/mail_icon_contact_dark.svg);
}
.c-icon.pin {
  background-image: url(../images/pin_icon_contact.svg);
}
.c-icon.pin-dark {
  background-image: url(../images/pin_icon_contact_dark.svg);
}
.c-icon.whatsapp {
  background-image: url(../images/whatsapp_icon_contact.svg);
}
.c-icon.whatsapp-dark {
  background-image: url(../images/whatsapp_icon_contact_dark.svg);
}
.c-icon.family {
  background-image: url(../images/family_visa_icon.svg);
}
.c-icon.airplane {
  background-image: url(../images/airplane_icon.svg);
}
.c-icon.consultant {
  background-image: url(../images/from_our_consultant_icon.svg);
}
.c-icon.handshake {
  background-image: url(../images/handshake_icon.svg);
}
.c-icon.study {
  background-image: url(../images/study_permits_icon.svg);
}
.c-icon.whatsapp2 {
  background-image: url(../images/whatsapp_icon_contact.svg);
}
.c-icon.work {
  background-image: url(../images/work_permits_icon.svg);
}
.c-icon.exp {
  background-image: url(../images/years_of_exp_icon.svg);
}
.c-icon.guaranteed {
  background-image: url(../images/guaranteed_icon.svg);
}
.c-icon.phone-dark {
  background-image: url(../images/phone_icon_dark.svg);
}
.c-icon.family-2 {
  background-image: url(../images/family_i.png);
  background-size: 41px !important;
}
.c-icon.rate {
  background-image: url(../images/rate_i.png);
  background-size: 56px !important;
}
.c-icon.banking {
  background-image: url(../images/banking_i.png);
  background-size: 49px !important;
}
.c-icon.healthcare {
  background-image: url(../images/healthcare_i.png);
  background-size: 49px !important;
}
.c-icon.citizen {
  background-image: url(../images/citizen_i.png);
  background-size: 34px !important;
}
.c-icon.leaf {
  background-image: url(../images/canada_leaf_i.png);
  background-size: 63px !important;
}
.c-icon.c-color-1 .cls-22 {
  fill: rgba(32, 50, 62, 0.1);
}